@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);
/* General */

*::after,
*::before{
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*{
	font-family: Lato, Helvetica, Arial, Sans-serif;
	font-weight: normal;
	color: #555;
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

}
html, body {
    height: 100%;
}

body{
	position: relative;
	width: auto !important; 
	height: 100%;
	margin:0;
	min-width: 1000px !important;
}

input.text-input{
	color: #999;
	float: left;
	background-color: #fafafa;
	border-radius: 5px; 
	outline: 0;
	border: 1px solid #CCC;
	font-size: 16px;
	margin-right: 10px;
	margin-bottom: 10px;
	padding-left: 3px;  	
	height: 25px;
}

input.long{
	width: 100%;
}

.selector{
	background-color:#fafafa;
	margin-top: 0px;
	border: 1px #ccc solid;
	height: 26px;
	width: 140px;
	color: #999;
	font-size: 14px;
}
.center{
	text-align: center;
	margin: auto;
}

h1{
	position: relative;
	text-align: center;
	font-size:36px;
	padding-bottom: 20px;
}

h2{
	margin-top: 20px;
	margin-bottom: 10px;
}

h2.subtitle{
	position: relative;
	text-align: center;
	margin:0 0 20px;
	font-size:20px;
	padding-bottom: 20px;
}

h2.section{
	font-size: 25px;
	color: firebrick;
  	font-weight:400;
}

h2.section a{
	color:#39c;
}
h3{
	margin-bottom:20px;
	font-size:18px;
}


a:hover{
	color: black;
}

a {
  color:#b30000;
  font-weight:400;
  text-decoration:none;
}

.left{
	float: left;
}

.right{
	float: right;
}

/* Layout */
.title{
	top: 30px; 
	margin-bottom: 30px;
}

.center-form{
	position: relative;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 68%;
}
.search-form{
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}


.hidden{
	display: none;
}


.big-label{
	font-size: 16px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.button{
	border: 1px solid #777;
	border-radius: 9px;
	background: -webkit-linear-gradient(top, #AAA, #CCC);
	font-size: 12px;
	font-weight: 600;
	color: #333;
	width: auto;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	margin-left: 10px;
	min-width: 60px;
}

.button:hover{
	color : #b30000;
	background: -webkit-linear-gradient(top, #EEE, #FFF);
}


/* Layout */


.description{
	width: 68%;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
}

.content{
	position: relative;
	height: 100%;
}



.content-inner{
	position: relative;
	height: 100%;
}

.container{
    height: auto !important;
    height: 100%;
	min-height: 100%;
    margin: 0 auto -60px; /* the bottom margin */
	padding-top: 40px;
	position: relative;
}

/* Header */

.seqView{
	position: relative;
	margin-top: 10px;
	width: 940px;
	margin:auto;
	}

.seqView span{
	font-family: monospace;
	font-size: 13px inherit;
}


/* Form */

.clipboard{
}

#clipboard .button{
	width: 100px;
}

#clipboard .tooltipped {
    position: relative;
}

#clipboard .tooltipped::after {
	padding: 5px 8px;
    position: absolute;
    z-index: 1000000;
    top:100%;
    right:50%;
    color: #fff;
	/*font: normal normal 11px / 1.5 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";*/
    text-align: center;
    text-decoration: none;
    word-wrap: break-word;
    white-space: pre;
    content: attr(aria-label);
    background: rgba(0, 0, 0, 0.8);
    border-radius: 3px;
    -webkit-font-smoothing: subpixel-antialiased
}

.box{
	position: relative;
	width: 100%;
	background-color: #fafafa;
	border-radius: 5px;
	border: 1px solid #CCC; 
	outline:0;
	text-align: left;
	vertical-align: super;
	overflow-y: scroll;
	margin-bottom: 10px;
	font-size: 12px;
	color: #999;
	padding-left: 3px;
	padding-top: 3px;
}
.seq{
	min-height : 100px;
}

.ref{
	min-height : 40px;	
}

.query-search-field{
	width: 80%;
	margin: auto;
}

/* Flash messages */

#flashMessage{
	position: relative;
	z-index: 100;
	height: 30px;
	padding-top: 0px;
	width: 100%;
	background-color: #666;
	padding-left: 10px;
	-moz-animation: hideFlash 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: hideFlash 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: hideFlash 0s ease-in 5s forwards;
    /* Opera */
    animation: hideFlash 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.flashes{
	padding-top: 5px;
	color: white;
}

@keyframes hideFlash {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes hideFlash {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}

/* Custom file input */
.custom-file-input {
  color: transparent;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
	content: 'Select genbank file';
	color: #333;
	display: inline-block;
	background: -webkit-linear-gradient(top, #AAA, #CCC);
	border: 1px solid #777;  
	border-radius: 9px;
	padding: 5px 8px;
	outline: none;
	white-space: nowrap;
	-webkit-user-select: none;
	cursor: pointer;
	font-weight: 600;
	font-size: 10pt;
}
.custom-file-input:hover::before {
	background: -webkit-linear-gradient(top, #EEE, #FFF);
	color : #b30000;

}
.custom-file-input:active {
  outline: 0;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, black, #f9f9f9); 
}

/* Tables */

table{
	border: 0;
	width: 100%;
	border-spacing: 0;
}


.results-table-div{
	margin-left: auto;
	margin-right: auto;
	width: 85%;
	position: relative;
}
.results_table{
	border-bottom: solid 1.5px black;
	border-top: solid 1.5px black;
	padding-top: 6px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	margin: 0;
	border-spacing: 0;
}

.theader{
	height: 15px;
	padding-bottom: 5px;
	border-bottom: solid 1px black !important;
	color: #222;
	font-weight: 600;
	font-size: 15px;
	min-width: 100px;
}

tr{
}

td {
	text-align:center;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 4px;
	border: 0;
	font-size: 15px;
}


.label{
	font-size: 14px;
	color:firebrick;
	float: left;
	margin-top: 2px;
	margin-bottom: 4px;
	margin-left: 0px;
	margin-right: 5px;
	text-align: right;
	width: auto;
}

.lab{
	margin-left: 10px;
	font-size: 14px;
	color: firebrick;
}
.push {
    height: 60px; /* .push must be the same height as .footer */
}
.footer{
	height: 60px;
	background-color: #111;
	color:white;
	padding: 5px;
	width: 100%;
}

.footer a{
	color: white;
}

.footer a:hover{
	color: red;
}

.footer-text {
	color: #FFF;
	font-size: 14px;
	line-height: 20px;
	padding: 5px;
}


/* Details */

.gene-details{
	position: relative;
	width:940px;
	margin: auto;
	padding-bottom: 20px;
}

.geneView {
	text-align: center;
	width: 93%;
	margin: auto;
}

.seqView{
	position: relative;
	width: 940px;
	margin:auto;
	}

.seqView span{
	font-family: monospace;
	font-size: 13px inherit;
}

.geneStucture{
	margin-bottom: 50px;
}

.inputSearchSeq{
	float:right;
	height: 25px;
	border-radius: 5px; 
	border: 1px solid #AAA;
	margin-right: 50px;
	margin-top: 0px !important;
	font-size: 14px;
	padding-left: 3px;
	width: 250px !important;
}

.buttons{
	margin-right: 50px;
	margin-top: 15px;
}


/* -----------------------------------------------------------------------------
  COMPENENTS - RATING
  
----------------------------------------------------------------------------- */
.c-rating {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
 
}

.c-rating__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 24px;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  height: 24px;
  background: url("../img/stars.svg");
  background-position: 0 0;
  cursor: pointer;
}

.c-rating__item:hover,
.c-rating__item.is-active {
  background-position: -24px 0;
}

.rating-container{
	width: 75%;
}

.alert{
	float:left;
	width: 61%;
	margin: auto;
}

.votes{
	font-size: 18px;
	color:firebrick;	
	padding-right: 20px;
	padding-top: 1px;
}