{% extends "layout.html" %}
{% block content %}
<br /><br /><br /><br /><br /><br />
<h2 class="description">Here begins: the all powerful & comprehensive DNArchive. Here we will store the code of life for everyone's free and open access and community based curation</h2>
<br /><br />
<h3 class="description">If you would like to contribute or be part of this project, and you have any coding skills, please <u>do</u> send me a note since I'm in quite a lot of need of help to get this done. Here is my e-mail: <a href="mailto:bp358@cam.ac.uk?Subject=DNArchive">bp358[at]cam[dot]ac[dot]uk</a></h3>
	
{% endblock %}
