{% extends "layout.html" %}
{% block content %}
<h2 class="center">The community curated DNA archive - v0.01 alpha</h2>
<br /><br />

<h3 class="description">Here begins: the all powerful & comprehensive DNArchive. Here we will store DNA sequences  for easy, open-access and community based curation</h3>
<h3 class="description">If you want help out, you can either <a href="/submit">submit</a> a sequence or help out with the coding, please <u>do</u> send me a note since I'm in quite a lot of need of help to get this done.</h3>

<form id="form" class="query-search-field" action="" method="POST">
	<input id="search-field" class="text-input query-search-field" type="text"  name="term" value="name">
	<input id='search-button' class="button" type="submit" value="Find">
</form>

{% endblock %}
