{% extends "layout.html" %}
{% block content %}
<h2 class="center">The community curated DNA archive - v0.01 alpha</h2>
<br />

<h3 class="description">A DNA sequence repository for easy, open-access and community based curation.</h3>

<h3 class="description">DNArchive aims to simplify the retrieval of DNA sequences used commonly in genetic engineering. It is particularily well suited for part level accessions (for ease of sequence retrieval), but also capable of dealing with composite level constructs.</h3>

<h3 class="description">If you want help out, you can either <a href="/upload">upload a genbank sequence</a> or <a href="/submit">submit it manually</a>. Also, you can rate the quality of the accessions so that collectively we curate the database.</h3>
<br/>

<form id="form" class="search-form" action="" method="POST">
	<input id="search-field" class="text-input query-search-field" type="text"  name="term" value="">
	<input id='search-button' class="button left" type="submit" value="Find">
	<select id="type" class="selector" name="type">
		<option value="">Sequence type</option>
		<option value="CDS">Coding sequence</option>
		<option value="Promoter">Promoter</option>
		<option value="Terminator">Terminator</option>
		<option value="Activator">Activator</option>
		<option value="Repressor">Repressor</option>
		<option value="Enhancer">Enhancer</option>
		<option value="Resistance">Resistance</option>
		<option value="ORI">ORI</option>
		<option value="Box">Box</option>
		<option value="Tag">Tag</option>
		<option value="Other">Other</option>
		<option value="Composite">Composite</option>
	</select>
</form>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-83177503-5', 'auto');
  ga('send', 'pageview');
</script>
	
{% endblock %}
