<!-- <!doctype html> -->
<html xml:lang="en" lang="en">
	<head>
		<meta charset="utf-8" />
		<title>DNArchive - A repository for DNA sequences</title>
		<meta name="keywords" content="Synthetic Biology, DNA sequences, DNA repository">
		<meta name="description" content="A community curated repository for DNA sequences" />
		<meta name="author" content="Bernardo Pollak">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link href="{{ url_for('static', filename='css/master.css')}}" media="all" rel="stylesheet" type="text/css" />
		{% block head %}
	    {% endblock %}
	</head>

	<body>
		
		<h1 class="title"><a href="/">DNArchive v0.01a</a></h1> 
						
		{% block content %}
		{% endblock %}

		{% block footer %}
			{% include "footer.html" %}
		{% endblock %}

	</body>	
</html>
